template
  section
    div.row
      div.col-sm-offset-3.col-sm-6      
        h1.text-center ${title}        
        form(validate.bind="validation" autocomplete="on")
          div.row
            div.form-group.col-sm-12
              label ${ 'email' | t }*
              input.form-control(type="email" value.bind="email" validate="email")
          div.row
            div.form-group.col-sm-12
              label ${ 'password' | t }*
              input.form-control(type="password" value.bind="password" validate="password")
          div.row
            div.form-group.col-sm-12.text-center
              button.btn.btn-primary.btn-lg(click.trigger="login()")
                i.fa.fa-key.fa-rotate-180
                | &nbsp;
                span ${ 'login' | t }
              | &nbsp;
              a.btn.btn-default.btn-lg(href="#/registration")
                i.fa.fa-pencil-square-o.fa-lg
                | &nbsp;
                span ${ 'registration' | t }
