template
  section
    div.panel.panel-primary
      div.panel-heading
        h4 ${heading}
      div.panel-body
        form(validate.bind="validation")
          div.row
            div.form-group.col-sm-8
              label ${ 'movie' | t }*
              select.form-control(value.bind="movieId" validate="movieId")
                option(value="") ${ 'select.movie' | t }
                option(repeat.for="movie of movies" model.bind="movie.id") ${movie.name}
            div.form-group.col-sm-4
              label ${ 'start' | t }*
              datetimepicker(value.two-way="start" validate="start")            
          div.row
            div.form-group.col-sm-4
              label ${ 'cinema' | t }
              select.form-control(value.bind="cinemaId" change.trigger="filterAuditoriums()")
                option(value="") ${ 'select.cinema' | t }
                option(repeat.for="cinema of cinemas" model.bind="cinema.id") ${cinema.name}
            div.form-group.col-sm-4
              label ${ 'auditorium' | t }*
              select.form-control(value.bind="auditoriumId" validate="auditoriumId" disabled.bind="cinemaId === ''")
                option(value="") ${ 'select.auditorium' | t }
                option(repeat.for="auditorium of filteredAuditoriums" model.bind="auditorium.id") ${auditorium.name}
            div.form-group.col-sm-4
              label ${ 'ticketPrice' | t }* (${ 'currencyAbbr' | t })
              input.form-control(type="number" value.bind="ticketPrice" validate="ticketPrice")
      div.panel-footer
        div.row
          div.col-sm-12
            button.btn.btn-primary.form-control(click.trigger="save()" disabled.bind="isBooked")
              i.fa.fa-save
              | &nbsp;
              span ${ 'save' | t }
