template
  section
    div.panel.panel-primary
      div.panel-heading
        h4 ${title}
      table.table.table-hover
        thead
          tr
            th.col-sm-10.text-center ${ 'name' | t }*
            th.col-sm-2.text-center      
        tbody
          tr(repeat.for="gender of genders" validate.bind="gender.validation")
            td
              input.form-control(type="text" value.bind="gender.name" disabled.bind="!gender.isInEditMode" validate="name")
            td.text-right
              button.btn.btn-default(click.trigger="gender.setEditMode(true)" show.bind="!gender.isInEditMode" title="${ 'edit' | t }")
                i.fa.fa-lg.fa-pencil
              button.btn.btn-danger(click.trigger="$parent.remove(gender)" show.bind="!gender.isInEditMode" title="${ 'delete' | t }")
                i.fa.fa-lg.fa-trash-o  
                
              button.btn.btn-primary(click.trigger="$parent.checkGender(gender)" show.bind="gender.isInEditMode" title="${ 'save' | t }")
                i.fa.fa-lg.fa-save
              button.btn.btn-default(click.trigger="$parent.cancel(gender)" show.bind="gender.isInEditMode" title="${ 'cancel' | t }")
                i.fa.fa-lg.fa-times
      div.panel-footer
        div.row
          div.col-sm-12
            button.btn.btn-primary.form-control(click.trigger="addGender()")
              i.fa.fa-plus
              | &nbsp;
              span ${ 'add' | t }
