template
  section
    div.panel.panel-primary
      div.panel-heading
        h4 ${title}
      div.panel-body
        form(validate.bind="validation")
          div.row
            div.form-group.col-sm-4
              label ${ 'currentPassword' | t }*
              input.form-control(type="password" value.bind="currentPassword" validate="currentPassword")
            div.form-group.col-sm-4
              label ${ 'newPassword' | t }*
              input.form-control(type="password" value.bind="newPassword" validate="newPassword")
            div.form-group.col-sm-4
              label ${ 'newPasswordConfirm' | t }*
              input.form-control(type="password" value.bind="newPasswordConfirm" validate="newPasswordConfirm")
            
      div.panel-footer
        div.row
          div.col-sm-12
            button.btn.btn-primary.form-control(click.trigger="save()")
              i.fa.fa-save
              | &nbsp;
              span ${ 'save' | t }
