template
  section
    div.panel.panel-primary
      div.panel-heading
        h4 ${title}
      table.table.table-hover
        thead
          tr
            th.col-md-2.text-center ${ 'start' | t }
            th.col-md-2.text-center ${ 'ticketPrice' | t }
            th.col-md-6.text-center ${ 'auditorium' | t }            
            th.col-md-2
        tbody
          tr(repeat.for="projection of projections")
            td.text-center
              p.form-control-static ${projection.start}            
            td.text-center
              p.form-control-static ${projection.ticketPrice} ${ 'currencyAbbr' | t }
            td.text-center
              p.form-control-static ${projection.auditoriumName}
            td.text-right
              a.btn.btn-primary(href="${'#/projection/' + projection.id + '/reservation'}")
                i.fa.fa-lg.fa-ticket
                | &nbsp;
                span ${ 'reservation' | t }
