template
  section
    div.panel.panel-primary
      div.panel-heading
        h4 ${title}
      table.table.table-hover
        thead
          tr
            th.col-sm-10.text-center ${ 'name' | t }*       
            th.col-sm-2.text-center      
        tbody
          tr(repeat.for="genre of genres" validate.bind="genre.validation")
            td
              input.form-control(type="text" value.bind="genre.name" disabled.bind="!genre.isInEditMode" validate="name")
            td.text-right
              button.btn.btn-default(click.trigger="genre.setEditMode(true)" show.bind="!genre.isInEditMode" title="${ 'edit' | t }")
                i.fa.fa-lg.fa-pencil
              button.btn.btn-danger(click.trigger="$parent.remove(genre)" show.bind="!genre.isInEditMode" title="${ 'delete' | t }")
                i.fa.fa-lg.fa-trash-o
                
              button.btn.btn-primary(click.trigger="$parent.checkGenre(genre)" show.bind="genre.isInEditMode" title="${ 'save' | t }")
                i.fa.fa-lg.fa-save
              button.btn.btn-default(click.trigger="$parent.cancel(genre)" show.bind="genre.isInEditMode" title="${ 'cancel' | t }")
                i.fa.fa-lg.fa-times
      div.panel-footer
        div.row
          div.col-sm-12
            button.btn.btn-primary.form-control(click.trigger="addGenre()")
              i.fa.fa-plus
              | &nbsp;
              span ${ 'add' | t }
