template
  nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
    div.navbar-header
      button.navbar-toggle(type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
        span.sr-only Toggle Navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href="#")
        i.fa.fa-home

    div.collapse.navbar-collapse#bs-example-navbar-collapse-1
      ul.nav.navbar-nav
        li(repeat.for="row of router.navigation" class="${row.isActive ? 'active' : ''}")
          a(data-toggle="collapse" data-target="#bs-example-navbar-collapse-1.in" href.bind="row.href" if.bind="row.config.roles.indexOf($parent.userRoleId) !== -1") ${row.title}
          
      
      form.navbar-form.navbar-right(if.bind="isLoggedIn")
        div.form-group
          p.form-control-static.text-muted ${userDisplay}
        | &nbsp;
        button.btn.btn-default(click.trigger="logout()")
          span.text-muted ${ 'logout' | t }
          | &nbsp;
          i.text-muted.fa.fa-lg.fa-caret-right
          
      ul.nav.navbar-nav.navbar-right        
        li.loader(if.bind="router.isNavigating")
          i.fa.fa-spinner.fa-spin.fa-2x
