template
  section
    div.panel.panel-primary
      div.panel-heading
        h4 ${title}
      div.panel-body(class="${ projectionReservations.length === 0 ? '' : 'bg-info' }")
        h4.text-danger(show.bind="projectionReservations.length === 0") ${ 'youHaveNoCurrentReservations' | t }
        div.panel.panel-default(repeat.for="projectionReservation of projectionReservations")
          div.panel-heading
            div.row
              div.col-md-10
                h5
                  strong
                    span ${ 'projection' | t }:
                    | &nbsp;
                    a(href="${'#projection/' + projectionReservation.projection.id + '/reservation'}")
                      span ${projectionReservation.title}
              div.col-md-2
                button.btn.btn-default.form-control(click.trigger="projectionReservation.showPlaces = !projectionReservation.showPlaces")
                  i.fa.fa-eye
                  | &nbsp;
                  span(show.bind="projectionReservation.showPlaces === false") ${ 'showSeats' | t }
                  span(show.bind="projectionReservation.showPlaces === true") ${ 'hideSeats' | t }
          table.table.table-hover.table-condensed(show.bind="projectionReservation.showPlaces === true")
            thead
              tr
                th.col-xs-1.text-center ${ 'numberSign' | t }
                th.col-xs-5.text-center ${ 'row' | t }
                th.col-xs-5.text-center ${ 'seatNumber' | t }
                th.col-xs-1
            tbody
              tr(repeat.for="reservation of projectionReservation.reservations")
                td.text-center
                  p.form-control-static ${$index + 1}
                td.text-center
                  p.form-control-static ${reservation.place.row}
                td.text-center
                  p.form-control-static ${reservation.place.seatNumber}
                td.text-right
                  button.btn.btn-danger(click.trigger="$parent.$parent.removeProjectionReservation($parent.projectionReservation, reservation)" title="${ 'delete' | t }")
                    i.fa.fa-lg.fa-trash-o
            
