template
  section
    div.panel.panel-primary
      div.panel-heading
        h4 ${title}
      table.table.table-hover
        thead
          tr
            th.col-md-5.text-center ${ 'movie' | t }
            th.col-md-2.text-center ${ 'start' | t }
            th.col-md-1.text-center ${ 'ticketPrice' | t }            
            th.col-md-2.text-center ${ 'auditorium' | t }
            th.col-md-2
        tbody
          tr(repeat.for="projection of projections" class="${ projection.isBooked ? 'warning' : '' }")
            td
              p.form-control-static ${projection.movieTitle}
            td.text-center
              p.form-control-static ${projection.start}
            td.text-center
              p.form-control-static ${projection.ticketPrice} ${ 'currencyAbbr' | t }
            td
              p.form-control-static ${projection.auditoriumName}            
            td.text-right
              button.btn.btn-warning(disabled if.bind="!$parent.isUserAdmin && projection.hasPassed")
                i.fa.fa-lg.fa-ticket                
              a.btn(if.bind="$parent.isUserAdmin || !projection.hasPassed" href="${'#/projection/' + projection.id + '/tickets'}" title="${ 'tickets' | t }" class="${ projection.hasPassed ? 'btn-warning' : 'btn-info' }")
                i.fa.fa-lg.fa-ticket
              | &nbsp;  
              button.btn.btn-default(disabled if.bind="projection.isBooked && $parent.isUserAdmin")
                i.fa.fa-lg.fa-pencil      
              a.btn.btn-default(if.bind="!projection.isBooked && $parent.isUserAdmin" href="${'#/projection/' + projection.id}" title="${ 'edit' | t }")
                i.fa.fa-lg.fa-pencil
              button.btn.btn-danger(if.bind="$parent.isUserAdmin" click.trigger="$parent.remove(projection)" title="${ 'delete' | t }")
                i.fa.fa-lg.fa-trash-o  
      div.panel-footer(if.bind="isUserAdmin")
        div.row
          div.col-md-12
            a.btn.btn-primary.form-control(href="#/projection/create")
              i.fa.fa-plus
              | &nbsp;
              span ${ 'add' | t }
