doctype
html
  head
    title Cinema App
    link(rel="stylesheet" type="text/css" href="jspm_packages/npm/font-awesome@4.4.0/css/font-awesome.min.css")
    link(rel="stylesheet" type="text/css" href="styles/loading-mask.css")
    link(rel="stylesheet" type="text/css" href="styles/styles.css")
    link(rel="stylesheet" type="text/css" href="jspm_packages/github/CodeSeven/toastr@2.1.2/build/toastr.css")
    meta(name="viewport" content="width=device-width, initial-scale=1" charset="utf-8")
  body(aurelia-app="main")
    div.splash
      div.message Cinema App
      i.fa.fa-spinner.fa-spin

    script(src="jspm_packages/system.js")
    script(src="config.js")
    script(src="jspm_packages/github/CodeSeven/toastr@2.1.2/build/toastr.min.js")
    script
      | System.import('aurelia-bootstrapper');
