template
  section
    div.panel.panel-primary
      div.panel-heading
        h4 ${title}
      table.table.table-hover
        thead
          tr
            th.col-sm-10.text-center ${ 'name' | t }*     
            th.col-sm-2.text-center      
        tbody
          tr(repeat.for="cinema of cinemas" class="${ cinema.isBooked ? 'warning' : '' }" validate.bind="cinema.validation")
            td
              input.form-control(type="text" value.bind="cinema.name" disabled.bind="!cinema.isInEditMode" validate="name")
            td.text-right
              button.btn.btn-default(click.trigger="cinema.setEditMode(true)" show.bind="!cinema.isInEditMode" title="${ 'edit' | t }" disabled.bind="cinema.isBooked")
                i.fa.fa-lg.fa-pencil
              button.btn.btn-danger(click.trigger="$parent.remove(cinema)" show.bind="!cinema.isInEditMode" title="${ 'delete' | t }")
                i.fa.fa-lg.fa-trash-o  
                
              button.btn.btn-primary(click.trigger="$parent.checkCinema(cinema)" show.bind="cinema.isInEditMode" title="${ 'save' | t }")
                i.fa.fa-lg.fa-save
              button.btn.btn-default(click.trigger="$parent.cancel(cinema)" show.bind="cinema.isInEditMode" title="${ 'cancel' | t }")
                i.fa.fa-lg.fa-times
      div.panel-footer
        div.row
          div.col-sm-12
            button.btn.btn-primary.form-control(click.trigger="addCinema()")
              i.fa.fa-plus
              | &nbsp;
              span ${ 'add' | t }
