template
  section
    div.panel.panel-primary
      div.panel-heading
        h4 ${title}
      div.panel-body
        div.row
          div.col-sm-12
            div.text-center#plan-host
              p(show.bind="places.length > 0") 
                img.img-responsive.center-block(src.bind="movieScreenPath" title="${ 'screen' | t }")
              div(repeat.for="row of rowPlaces")
                span(if.bind="$index > 0") ${$parent.formatRowNumber($index)}
                a(repeat.for="place of row" click.trigger="place.changeChosenStatus()" style.bind="place.cellStyles" title.bind="place.type")
                  p(show.bind="place.isSeat" style.bind="place.numberStyles") ${place.seatNumber}
            
      div.panel-footer
        div.row
          div.col-sm-12
            button.btn.btn-primary.form-control(click.trigger="reserve()" disabled.bind="places.length === 0")
              i.fa.fa-ticket
              | &nbsp;
              span ${ 'reservation' | t }
