template
  section
    div.panel.panel-primary
      div.panel-heading
        h4 ${title}
      div.panel-body(class="${ featuredMovies.length === 0 ? '' : 'bg-info' }")
        h4.text-danger(show.bind="featuredMovies.length === 0") ${ 'thereAreNoCurrentlyFeaturedMovies' | t }
        div.row(repeat.for="featuredMovie of featuredMovies")
          div.col-sm-12
            div.panel.panel-default
              div.panel-body
                div.row
                  div.col-sm-5.col-md-4.col-lg-3
                    div.text-center
                      img.img-responsive.img-thumbnail(src.bind="featuredMovie.posterPath || $parent.defaultPosterPath" style="max-height: 640px")
                  div.col-sm-7.col-md-8.col-lg-9
                    h1.text-center ${featuredMovie.title}
                    div.panel.panel-default
                      div.panel-body
                        form
                          div.row
                            div.form-group.col-sm-8
                              label ${ 'originalTitle' | t }
                              p.form-control-static ${featuredMovie.titleOriginal}
                            div.form-group.col-sm-4
                              label ${ 'releaseDate' | t }
                              p.form-control-static ${featuredMovie.releaseDate}
                          div.row
                            div.form-group.col-sm-8
                              label ${ 'genres' | t }
                              p.form-control-static ${$parent.getMovieGenres(featuredMovie)}                            
                            div.form-group.col-sm-4
                              label ${ 'runtime' | t }
                              p.form-control-static ${featuredMovie.runtime}
                          div.row
                            div.form-group.col-sm-12
                              label ${ 'summary' | t }
                              p.form-control-static.text-justify ${featuredMovie.summary}
                    div.row
                      div.col-sm-12.text-center
                        a.btn.btn-primary.btn-lg(href="${ '#/movie/' + featuredMovie.id + '/projections'}")
                          i.fa.fa-video-camera
                          | &nbsp;
                          span ${ 'projections' | t }                    
