template
  section
    div.panel.panel-primary
      div.panel-heading
        h4 ${title}
      div.panel-body
        div.row(if.bind="reservingUsers.length > 0")
          div.col-sm-offset-2.col-sm-8
            form.form-horizontal
              div.form-group
                label.control-label.col-sm-5 ${ 'reservingUsers' | t }
                div.col-sm-7
                  select.form-control(value.bind="reservingUserId" change.trigger="userSelected()")
                    option(value="") ${ 'select.user' | t }
                    option(repeat.for="user of reservingUsers" model.bind="user.id") ${user.name}
        div.row
          div.col-sm-12
            div.text-center#plan-host
              p(show.bind="places.length > 0") 
                img.img-responsive.center-block(src.bind="movieScreenPath" title="${ 'screen' | t }")
              div(repeat.for="row of rowPlaces")
                span(if.bind="$index > 0") ${$parent.formatRowNumber($index)}
                a(repeat.for="place of row" click.trigger="place.changeChosenStatus(true)" style.bind="place.cellStyles" title.bind="place.type")
                  p(show.bind="place.isSeat" style.bind="place.numberStyles") ${place.seatNumber}
            
      div.panel-footer
        div.row
          div.col-sm-12
            button.btn.btn-primary.form-control(click.trigger="sell()" disabled.bind="projection.hasPassed || places.length === 0")
              i.fa.fa-ticket
              | &nbsp;
              span ${ 'save' | t }
