template
  section
    div.panel.panel-primary
      div.panel-heading
        h4 ${title}
      table.table.table-hover
        thead
          tr
            th.col-md-5.text-center ${ 'name' | t }*
            th.col-md-5.text-center ${ 'cinema' | t }*      
            th.col-md-2.text-center      
        tbody
          tr(repeat.for="auditorium of auditoriums" class="${ auditorium.isBooked ? 'warning' : '' }" validate.bind="auditorium.validation")
            td
              input.form-control(type="text" value.bind="auditorium.name" disabled.bind="!auditorium.isInEditMode" validate="name") 
            td
              select.form-control(value.bind="auditorium.cinemaId" disabled.bind="!auditorium.isInEditMode" validate="cinemaId")
                option(value="") ${ 'select.cinema' | t }
                option(repeat.for="cinema of $parent.cinemas" model.bind="cinema.id") ${cinema.name}
            td.text-right
              a.btn(href="${'#/auditorium/' + auditorium.id + '/plan'}" show.bind="auditorium.id !== null" title="${ 'auditoriumPlan' | t }" class="${ auditorium.hasPlaces ? 'btn-info' : 'btn-warning' }")
                i.fa.fa-lg.fa-th-large
              
              button.btn.btn-default(click.trigger="auditorium.setEditMode(true)" show.bind="!auditorium.isInEditMode" title="${ 'edit' | t }" disabled.bind="auditorium.isBooked")
                i.fa.fa-lg.fa-pencil
              button.btn.btn-danger(click.trigger="$parent.remove(auditorium)" show.bind="!auditorium.isInEditMode" title="${ 'delete' | t }")
                i.fa.fa-lg.fa-trash-o  
                
              button.btn.btn-primary(click.trigger="$parent.checkAuditorium(auditorium)" show.bind="auditorium.isInEditMode" title="${ 'save' | t }")
                i.fa.fa-lg.fa-save
              button.btn.btn-default(click.trigger="$parent.cancel(auditorium)" show.bind="auditorium.isInEditMode" title="${ 'cancel' | t }")
                i.fa.fa-lg.fa-times
      div.panel-footer
        div.row
          div.col-md-12
            button.btn.btn-primary.form-control(click.trigger="addAuditorium()")
              i.fa.fa-plus
              | &nbsp;
              span ${ 'add' | t }
