template
  section
    div.panel.panel-primary
      div.panel-heading
        h4 ${title}
      table.table.table-hover
        thead
          tr
            th.col-sm-6.text-center ${ 'title' | t }
            th.col-sm-3.text-center ${ 'releaseDate' | t }
            th.col-sm-1.text-center ${ 'runtime' | t }
            th.col-sm-2
        tbody
          tr(repeat.for="movie of movies" class="${ movie.isBooked ? 'warning' : '' }")
            td
              p.form-control-static ${movie.title}
            td.text-center
              p.form-control-static ${movie.releaseDate}
            td.text-center
              p.form-control-static ${movie.runtime}
            td.text-right
              a.btn.btn-default(href="${'#/movie/' + movie.id}" title="${ 'edit' | t }")
                i.fa.fa-lg.fa-pencil
              button.btn.btn-danger(click.trigger="$parent.remove(movie)" title="${ 'delete' | t }")
                i.fa.fa-lg.fa-trash-o  
      div.panel-footer
        div.row
          div.col-sm-12
            a.btn.btn-primary.form-control(href="#/movie/create")
              i.fa.fa-plus
              | &nbsp;
              span ${ 'add' | t }
