template
  section
    div.panel.panel-primary
      div.panel-heading
        h4 ${title}
        
      table.table.table-hover
        thead
          tr
            th.col-md-4.text-center ${ 'email' | t }*
            th.col-md-3.text-center ${ 'password' | t }*
            th.col-md-3.text-center ${ 'role' | t }*       
            th.col-md-2.text-center      
        tbody
          tr(repeat.for="user of users" validate.bind="user.validation")
            td
              input.form-control(type="email" value.bind="user.email" disabled.bind="!user.isInEditMode" validate="email")
            td
              input.form-control(type="text" value.bind="user.password" show.bind="user.isInEditMode" validate="password" placeholder="${ 'newPassword' | t }")
            td
              select.form-control(value.bind="user.roleId" disabled.bind="!user.isInEditMode" validate="roleId")
                option(value="") ${ 'select.role' | t }
                option(repeat.for="role of $parent.roles" model.bind="role.id") ${role.name}
            td.text-right
              a.btn.btn-info(href="${'#/user/' + user.id + '/person'}" show.bind="user.id !== null" title="${ 'userPerson' | t }")
                i.fa.fa-lg.fa-user
                
              button.btn.btn-default(click.trigger="user.setEditMode(true)" show.bind="!user.isInEditMode" title="${ 'edit' | t }")
                i.fa.fa-lg.fa-pencil
              button.btn.btn-danger(click.trigger="$parent.remove(user)" show.bind="!user.isInEditMode" title="${ 'delete' | t }")
                i.fa.fa-lg.fa-trash-o
                
              button.btn.btn-primary(click.trigger="$parent.checkUser(user)" show.bind="user.isInEditMode" title="${ 'save' | t }")
                i.fa.fa-lg.fa-save
              button.btn.btn-default(click.trigger="$parent.cancel(user)" show.bind="user.isInEditMode" title="${ 'cancel' | t }")
                i.fa.fa-lg.fa-times
              
                
      div.panel-footer
        div.row
          div.col-md-12
            button.btn.btn-primary.form-control(click.trigger="addUser()")
              i.fa.fa-plus
              | &nbsp;
              span ${ 'add' | t }
