template
  section
    div.panel.panel-primary
      div.panel-heading
        h4 ${heading}
      div.panel-body
        form(validate.bind="validation")
          div.row
            div.form-group.col-sm-4
              div.row
                div.form-group.col-sm-12
                  img.preload(style="display:none" src.bind="defaultPosterPath")
                  img.preload(style="display:none" src.bind="loadingPosterPath")
                  img.img-responsive.center-block(src.bind="posterPath || placeholderPosterPath")
                  div(if.bind="movieId === null") 
                    h3.bg-info.text-center
                      span ${ 'saveToUploadPoster' | t }
                      
              div.row(if.bind="movieId !== null && posterPath === null")
                div.form-group.col-sm-12
                  input.form-control#poster-file(type="file" title="${ 'select.poster' | t }" change.trigger="posterFileChosen()" accept="image/*")
              div.row(if.bind="movieId !== null && posterPath !== null")
                div.form-group.col-sm-9  
                  input.form-control#poster-file(type="file" title="${ 'select.poster' | t }" change.trigger="posterFileChosen()" accept="image/*")
                div.form-group.col-sm-3
                  button.btn.btn-danger.form-control(click.trigger="removePoster()" title="${ 'deletePoster' | t }")
                    i.fa.fa-lg.fa-trash-o
                
              
            div.form-group.col-sm-8
              div.row
                div.form-group.col-sm-12
                  label ${ 'title' | t }*
                  input.form-control(type="text" value.bind="title" validate="title")
              div.row
                div.form-group.col-sm-12
                  label ${ 'originalTitle' | t }*
                  input.form-control(type="text" value.bind="titleOriginal" validate="titleOriginal")
              div.row
                div.form-group.col-sm-6
                  label ${ 'releaseDate' | t }*
                  datepicker(value.two-way="releaseDate" validate="releaseDate")
                div.form-group.col-sm-6
                  label ${ 'runtime' | t }*
                  input.form-control(type="number" value.bind="runtime" validate="runtime")
              div.row
                div.form-group.col-sm-12
                  label ${ 'summary' | t }*
                  textarea.form-control(value.bind="summary" validate="summary" rows="10" style="resize: none")    
          fieldset(show.bind="genres.length > 0")
            legend ${ 'genres' | t }
            div.row
              div.form-group.col-sm-3(repeat.for="genre of genres")
                button.btn.form-control(click.trigger="genre.isSelected = !genre.isSelected" class.bind="genre.isSelected ? 'btn-info' : 'btn-default'")
                  span ${genre.name}
      div.panel-footer
        div.row
          div.col-sm-12
            button.btn.btn-primary.form-control(click.trigger="save()" disabled.bind="isBooked")
              i.fa.fa-save
              | &nbsp;
              span ${ 'save' | t }
