template
  section
    div.panel.panel-primary
      div.panel-heading
        h4 ${title}
      div.panel-body
        form(validate.bind="validation")
          div.row
            div.form-group.col-sm-6
              label ${ 'name' | t }*
              input.form-control(type="text" value.bind="name" validate="name")
            div.form-group.col-sm-6
              label ${ 'gender' | t }*
              select.form-control(value.bind="genderId" validate="genderId")
                option(value="") ${ 'select.gender' | t }
                option(repeat.for="gender of genders" model.bind="gender.id") ${gender.name}
          div.row
            div.form-group.col-sm-6
              label ${ 'birthDate' | t }
              datepicker(value.two-way="birthDate")
            div.form-group.col-sm-6
              label ${ 'phoneNumber' | t }*
              input.form-control(type="tel" value.bind="phoneNumber" validate="phoneNumber")
              
          fieldset(show.bind="genres.length > 0")
            legend ${ 'favouriteGenres' | t }
            div.row
              div.form-group.col-sm-3(repeat.for="genre of genres")
                button.btn.form-control(click.trigger="genre.isSelected = !genre.isSelected" class.bind="genre.isSelected ? 'btn-info' : 'btn-default'")
                  span ${genre.name}
      div.panel-footer
        div.row
          div.col-sm-12
            button.btn.btn-primary.form-control(click.trigger="save()")
              i.fa.fa-save
              | &nbsp;
              span ${ 'save' | t }
