template
  section
    div.panel.panel-primary
      div.panel-heading
        h4 ${title}
      div.panel-body
        form(validate.bind="validation" if.bind="!auditorium.isBooked")
          div.row
            div.form-group.col-sm-4
              label ${ 'rows' | t }*
              input.form-control(type="number" value.bind="rows" validate="rows")
            div.form-group.col-sm-4
              label ${ 'columns' | t }*
              input.form-control(type="number" value.bind="columns" validate="columns")
            div.form-group.col-sm-2
              label.hidden-xs(style="visibility: hidden") _placeholder
              button.btn.btn-primary.form-control(click.trigger="update()" disabled.bind="places.length === 0")
                i.fa.fa-cog
                | &nbsp;
                span ${ 'update' | t }
            div.form-group.col-sm-2
              label.hidden-xs(style="visibility: hidden") _placeholder
              button.btn.btn-primary.form-control(click.trigger="new()")
                i.fa.fa-cog
                | &nbsp;
                span ${ 'newM' | t }
        div.row
          div.col-sm-12
            div.text-center#plan-host
              p(show.bind="places.length > 0") 
                img.img-responsive.center-block(src.bind="movieScreenPath" title="${ 'screen' | t }")
              div(repeat.for="row of rowPlaces")
                span(if.bind="$index > 0") ${$parent.formatRowNumber($index)}
                a(repeat.for="place of row" click.trigger="place.changeState(); $parent.$parent.setRowNumbers(place.row);" style.bind="place.cellStyles" title.bind="place.type")
                  p(show.bind="place.isSeat" style.bind="place.numberStyles") ${place.seatNumber}
            
      div.panel-footer
        div.row
          div.col-sm-12
            button.btn.btn-primary.form-control(click.trigger="save()" disabled.bind="auditorium.isBooked || places.length === 0")
              i.fa.fa-save
              | &nbsp;
              span ${ 'save' | t }
