template
  section
    div.panel.panel-primary
      div.panel-heading
        h4 ${title}
      table.table.table-hover
        thead
          tr
            th.col-sm-10.text-center Name      
            th.col-sm-2.text-center      
        tbody
          tr(repeat.for="role of roles" validate.bind="role.validation")
            td
              input.form-control(type="text" value.bind="role.name" disabled.bind="!role.isInEditMode" validate="name")
            td.text-right
              button.btn.btn-default(click.trigger="role.setEditMode(true)" show.bind="!role.isInEditMode" title="Edit")
                i.fa.fa-lg.fa-pencil
              button.btn.btn-danger(click.trigger="$parent.remove(role)" show.bind="!role.isInEditMode" title="Delete")
                i.fa.fa-lg.fa-trash-o
                
              button.btn.btn-primary(click.trigger="$parent.checkRole(role)" show.bind="role.isInEditMode" title="Save")
                i.fa.fa-lg.fa-save
              button.btn.btn-default(click.trigger="$parent.cancel(role)" show.bind="role.isInEditMode" title="Cancel")
                i.fa.fa-lg.fa-times
      div.panel-footer
        div.row
          div.col-sm-12
            button.btn.btn-primary.form-control(click.trigger="addRole()")
              i.fa.fa-plus
              | &nbsp;
              span Add
